<!--
  User: lzq11
  Date: 2018/3/24
  Time: 22:06
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>班级列表</title>
    <script type="text/javascript" src="../../style/js/common/common-js-css.js"></script>
    <script type="text/javascript" src="../../style/js/grade/grade-detail.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/css/htmlCss/grade.css"/>
</head>
<body>

<div class="layui-form" id="main_search_form">
    <div class="layui-form-item" style="margin:10px 0 -10px -30px;">

        <div class="layui-inline" style="margin-left: -60px;">
            <div class="layui-input-block">
                <button class="layui-btn" style="background: #73aae1;" onclick="backToList()">&lt; 返回</button>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label" for="curGradeName">当前班级：</label>
            <div class="layui-input-inline" style="width: 180px;">
                <input type="text" readonly autocomplete="off" class="layui-input" id="curGradeName"
                       style="color: #bcbcbc;">
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">搜索条件：</label>
            <div class="layui-input-inline" style="width: 220px;">
                <input type="text" autocomplete="off" class="layui-input" name="searchString"
                       placeholder="输入姓名、考生号、或手机号查询...">
            </div>
        </div>

        <div class="layui-inline" style="margin-left: -60px;">
            <div class="layui-input-block">
                <button class="layui-btn" style="background: #1E9FFF;" onclick="searchBtnClick()">搜索</button>
                <button class="layui-btn" style="background: #5FB878;" onclick="geToAddEe()">添加考生</button>
            </div>
        </div>

    </div>
</div>

<table id="main_show_table" class="layui-table" lay-filter="main-filter"></table>

<!--排序号弹窗-->
<div id="sort_form">
    <div class="layui-form-item">
        <label class="layui-form-label" for="sort_cur_ee">当前考生：</label>
        <div class="layui-input-block">
            <input type="text" id="sort_cur_ee" autocomplete="off" disabled class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序号 ：</label>
        <div class="layui-input-block">
            <input type="text" id="sort_sortNo" placeholder="请输入排序号..." autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" onclick="setSortNo()">立即提交</button>
            <button class="layui-btn layui-btn-primary" onclick="closeFloor(FloorObject)">取消</button>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/html" id="dtf">
    {{ dtf(d.sex) }}
</script>
<script type="text/html" id="main_table_bar">
    <a class="layui-btn layui-btn-xs sort_bg" lay-event="sort" title="排序"><i class="iconfont icon-paixu"></i></a>
    <a class="layui-btn layui-btn-xs delete_bg" lay-event="delete" title="删除"><i class="iconfont icon-delete"></i></a>
</script>