<!--
  User: LuoYuChengZhou
  Date: 2018/2/25
  Time: 22:08
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>班级列表</title>
    <script type="text/javascript" src="../../style/js/common-js-css.js"></script>
    <script type="text/javascript" src="../../style/js/grade/grade-list.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/css/htmlCss/grade.css"/>
</head>
<body>
<div class="layui-form" id="grade_list_form">
    <div class="layui-form-item" style="margin:10px 0 -10px -9px;">

        <div class="layui-inline">
            <label class="layui-form-label">班级名称：</label>
            <div class="layui-input-inline" style="width: 180px;">
                <input type="text" name="searchGradeName" autocomplete="off" class="layui-input" id="search_grade_name">
            </div>
        </div>
        <div class="layui-inline" style="margin-left: -60px">
            <div class="layui-input-block">
                <button class="layui-btn" style="background: #1E9FFF;" onclick="searchBtnClick()">搜索</button>
            </div>
        </div>

        <div class="layui-inline" style="margin-left: -100px">
            <div class="layui-input-block">
                <button class="layui-btn" style="background: #5FB878;" onclick="addGrade()">新增</button>
            </div>
        </div>

    </div>
</div>
<table id="grade_list_table" class="layui-table" lay-filter="grade-t"></table>
<div id="add_form">
    <div class="layui-form-item">
        <label class="layui-form-label">班级名称：</label>
        <div class="layui-input-block">
            <input type="text" name="new_grade_name" required lay-verify="required" placeholder="请输入班级名称"
                   autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序号 ：</label>
        <div class="layui-input-block">
            <input type="text" name="new_grade_sortNo" placeholder="排序号越大排列越前" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn">立即提交</button>
            <button class="layui-btn layui-btn-primary">取消</button>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/html" id="time2string">
    {{ dtf("yMdHms",d.createTime) }}
</script>
<script type="text/html" id="grade_list_bar">
    <a class="layui-btn layui-btn-xs" lay-event="detail"><i class="iconfont icon-sousuo"></i></a>
    <a class="layui-btn layui-btn-xs" lay-event="sort" style="background-color: #FFB800;"><i class="iconfont icon-paixu"></i></a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete"><i class="iconfont icon-delete"></i></a>
    <a class="layui-btn layui-btn-xs" lay-event="delete" style="background-color: mediumpurple;" title="禁用"><i class="iconfont icon-jinyong"></i></a>
</script>