<!--
  User: lzq11
  Date: 2018/3/24
  Time: 22:06
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>班级列表</title>
    <script type="text/javascript" src="../../style/js/common-js-css.js"></script>
    <script type="text/javascript" src="../../style/js/grade/grade-detail.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/css/htmlCss/grade.css"/>
</head>
<body>

<div class="layui-form" id="grade_list_form">
    <div class="layui-form-item" style="margin:10px 0 -10px -9px;">

        <div class="layui-inline">
            <label class="layui-form-label">班级名称：</label>
            <div class="layui-input-inline" style="width: 180px;">
                <input type="text" readonly autocomplete="off" class="layui-input" id="cur-grade-name">
            </div>
        </div>

        <div class="layui-inline" style="margin-left: -60px;">
            <div class="layui-input-block">
                <button class="layui-btn" style="background: #1E9FFF;" onclick="searchBtnClick()">刷新</button>
                <button class="layui-btn" style="background: #5FB878;" onclick="showAddGrade()">添加考生</button>
            </div>
        </div>

    </div>
</div>

<table id="main_show_table" class="layui-table" lay-filter="main-filter"></table>

<!--排序号弹窗-->
<div id="sort_form">
    <div class="layui-form-item">
        <label class="layui-form-label">当前班级：</label>
        <div class="layui-input-block">
            <input type="text" id="sort_cur_grade"
                   autocomplete="off"
                   disabled
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序号 ：</label>
        <div class="layui-input-block">
            <input type="text" id="sort_sortNo" placeholder="请输入排序号..." autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" onclick="setSortNo()">立即提交</button>
            <button class="layui-btn layui-btn-primary" onclick="closeFloor(FloorObject)">取消</button>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/html" id="time2string">
    {{ dtf("yMdHms",d.createTime) }}
</script>
<script type="text/html" id="grade_list_bar">
    <a class="layui-btn layui-btn-xs sort_bg" lay-event="sort" title="排序"><i class="iconfont icon-paixu"></i></a>
    <a class="layui-btn layui-btn-xs delete_bg" lay-event="delete" title="删除"><i class="iconfont icon-delete"></i></a>
</script>