a .layui-btn {
    width: 28px;
}

/*处于禁用状态的背景颜色*/
.disable_true {
    background-color: #a5b5b7;
}

/*处于启用状态的背景颜色*/
.disable_false {
    background-color: mediumpurple;
}

/*删除按钮背景颜色*/
.delete_bg {
    background-color: #FF5823;
}

/*排序按钮背景颜色*/
.sort_bg {
    background-color: #FFB800;
}

/*还原按钮背景颜色*/
.reduction_bg {
    background-color: #2b524f;
}

/*设置placeholder样式===============开始*/
::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 12px;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 12px;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 12px;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: 12px;
}

/*设置placeholder样式===============结束*/

/*将边框和整体背景一致*/
.layui-table-view {
    border: #E0FCFF;
    margin-left: 25px;
}

/*表头背景设为和整体背景一致，使边框线看不出来*/
.layui-table-header {
    background-color: rgba(0, 0, 0, 0);
    border-bottom-color: #E0FCFF;
}

/*表头样式*/
.layui-table thead tr {
    background-color: #73aae1;
    color: #FFFFFF;
}

/*将表格莫名其妙多出来的一列删除*/
.layui-table-patch div {
    width: 0 !important;
}

.layui-form-label {
    color: #6585BA;
}

/*下拉列表选项字体缩小*/
dd {
    font-size: 12px;
}

/*系统默认input宽度是100%，会出问题，这里设置成200px*/
.layui-input, .layui-textarea {
    width: 200px;
}