<!--
  User: lzq11
  Date: 2018/4/9
  Time: 11:35
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>邀请列表</title>
    <script type="text/javascript" src="../../style/js/common-js-css.js"></script>
    <script type="text/javascript" src="../../style/js/examiner/er-invited-list.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/css/htmlCss/er-invited-list.css"/>
</head>
<body>
<div id="left_btn" class="left_btn canNotPress"><span><</span></div>
<div class="show_bak" id="show_bak">

</div>
<div id="right_btn" class="right_btn"><span>></span></div>
</body>
</html>