<!--
  User: lzq11
  Date: 2018/4/16
  Time: 10:21
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../../style/js/common/common-js-css.js"></script>
    <script type="text/javascript" src="../../style/js/papers/paper-form.js"></script>
    <script type="text/javascript" src="/style/iconfont/iconfont.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/css/htmlCss/paper.css"/>
</head>
<body>
<div class="layui-form basicForm">
    <!--试卷名称显示div-->
    <div>
        <input type="text" name="paperName" class="paperName" placeholder="请输入试卷名称"/>
    </div>

    <div style="margin-bottom: 20px">

        <!--默认科目div-->
        <div class="layui-inline">
            <label class="layui-form-label">默认科目：</label>
            <div class="layui-input-block">
                <select id="defaultSubject" name="defaultSubject" lay-filter="defaultSubject" lay-search></select>
            </div>
        </div>

        <!--考试时间显示div-->
        <div class="layui-inline" style="margin-left: 180px">
            <label>考试时间：</label>
            <input type="text" class="examTimeNum"/>
            <label>分钟</label>
        </div>
    </div>

    <!--试题编辑区-->
    <div id="question_edit"></div>

    <!--添加按钮-->
    <div class="addDivButton">
        <a href="javascript:void(0);" onclick="addQuestionDiv()">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-tianjia"></use>
            </svg>
        </a>
    </div>
</div>
</body>
</html>