<!--
  User: lzq11
  Date: 2018/4/15
  Time: 17:08
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>试卷列表</title>
    <script type="text/javascript" src="../../style/js/common/common-js-css.js"></script>
    <script type="text/javascript" src="../../style/js/papers/score-list.js"></script>
</head>
<body>
<!--主搜索框-->
<div class="layui-form" id="mainSearchForm">
    <div class="layui-form-item" style="margin:15px 0;">

        <div class="layui-inline">
            <label class="layui-form-label">搜索条件：</label>
            <div class="layui-input-inline" style="width: 180px;">
                <input type="text" autocomplete="off" class="layui-input" id="searchEeInfo" placeholder="输入考生姓名或考生号查询">
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">试卷：</label>
            <div class="layui-input-inline" style="width: 180px;">
                <select id="searchPaperId"></select>
            </div>
        </div>

        <div class="layui-inline" style="margin-left: -60px;">
            <div class="layui-input-block">
                <button class="layui-btn" style="background: #1E9FFF;" onclick="searchBtnClick()">搜索</button>
            </div>
        </div>

    </div>
</div>

<!--主显示区-->
<table id="mainTable" class="layui-table" lay-filter="mainTableFilter"></table>

</body>
</html>

<script type="text/html" id="time2string1">
    {{ dtf("yMdHms",d.blurStartTime.time) }}
</script>
<script type="text/html" id="time2string2">
    {{ dtf("yMdHms",d.commitTime.time) }}
</script>

<script type="text/html" id="mainTableBar">
    <a class="layui-btn layui-btn-xs layui-bg-orange" lay-event="lookDo" title="查看考试信息"><i
            class="iconfont icon-sousuo"></i></a>
</script>