<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../style/css/nav.css"/>
    <link rel="stylesheet" type="text/css" href="../style/css/loadStyle.css"/>
    <link rel="stylesheet" type="text/css" href="../style/css/index/mainMenu.css"/>
    <link rel="stylesheet" type="text/css" href="../style/css/sweetalert2.min.css"/>
    <script type="text/javascript" src="../style/js/sweetalert2.min.js"></script>
    <script type="text/javascript" src="../style/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="../style/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="../style/js/common-methods.js"></script>
    <script type="text/javascript" src="../style/js/nav.js"></script>
    <script type="text/javascript" src="//at.alicdn.com/t/font_533369_bpplghbbyqqfflxr.js"></script>
</head>
<body class="index">
<!--顶部-->
<div id="main_menu_top">
    <div id="main_menu_top_left">
        <img src="../style/image/logo.png"/>
    </div>
    <div id="main_menu_top_right">
        <div class="separator"></div>
        <a href="javascript:void(0);">
            <svg class="icon left_menu_top" aria-hidden="true">
                <use xlink:href="#icon-gerenzhongxin"></use>
            </svg>
        </a>
        <div class="separator"></div>
        <a href="javascript:void(0);" onclick="loginOut()" style="margin-right: 15px;">
            <svg class="icon left_menu_top" aria-hidden="true">
                <use xlink:href="#icon-zhuxiao"></use>
            </svg>
        </a>
    </div>
    <div id="top_info">
        <span>欢迎使用~</span>
    </div>
</div>
<!--菜单-->
<div class="nav">
    <div class="nav-top">
        <div id="mini" style="border-bottom:1px solid rgba(255,255,255,.1)">
            <svg class="icon" aria-hidden="true" style="margin: 10px 0 10px 10px ;width: 2em;height: 2em;">
                <use xlink:href="#icon-menu"></use>
            </svg>
        </div>
    </div>
    <ul>
        <li class="nav-item">
            <a href="javascript:void(0);">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-xitong"></use>
                </svg>
                <span>系统管理</span><i class="nav-more"></i>
                <ul>
                    <li><a href="javascript:void(0);" onclick="changeView('system/log-list.html')"><span>日志管理</span></a>
                    </li>
                </ul>
            </a>
        </li>
        <li class="nav-item er_have">
            <a href="javascript:void(0);">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-xuesheng"></use>
                </svg>
                <span>考生管理</span><i class="nav-more"></i>
            </a>
            <ul>
                <li><a href="javascript:void(0);" onclick="changeView('grade/grade-list.html')"><span>我的班级</span></a>
                </li>
                <li><a href="javascript:void(0);"><span>我的考生</span></a></li>
                <li><a href="javascript:void(0);"><span>添加考生</span></a></li>
                <li><a href="javascript:void(0);"><span>申请列表</span></a></li>
                <li><a href="javascript:void(0);"><span>历史动态</span></a></li>
            </ul>
        </li>
        <li class="nav-item er_have">
            <a href="javascript:void(0);">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-shijuan"></use>
                </svg>
                <span>试卷管理</span><i class="nav-more"></i>
            </a>
        </li>
        <li class="nav-item er_have">
            <a href="javascript:void(0);">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-course-lib"></use>
                </svg>
                <span>题库管理</span><i class="nav-more"></i>
            </a>
            <ul>
                <li><a href="javascript:void(0);"><span>我的题库</span></a></li>
                <li><a href="javascript:void(0);"><span>在线题库</span></a></li>
            </ul>
        </li>
        <li class="nav-item ee_have">
            <a href="javascript:void(0);">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-examiner"></use>
                </svg>
                <span>考官信息</span><i class="nav-more"></i>
            </a>
            <ul>
                <li><a href="javascript:void(0);"><span>考官列表</span></a></li>
                <li><a href="javascript:void(0);"><span>邀请列表</span></a></li>
            </ul>
        </li>
        <li class="nav-item ee_have">
            <a href="javascript:void(0);">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-chengji"></use>
                </svg>
                <span>成绩信息</span><i class="nav-more"></i>
            </a>
        </li>
        <li class="nav-item ee_have">
            <a href="javascript:void(0);">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-huishou"></use>
                </svg>
                <span>回收站</span><i class="nav-more"></i>
            </a>
            <ul>
                <li><a href="javascript:void(0);"><span>班级回收站</span></a></li>
                <li><a href="javascript:void(0);"><span>题库回收站</span></a></li>
                <li><a href="javascript:void(0);"><span>试卷回收站</span></a></li>
            </ul>
        </li>
    </ul>
</div>
<!--主显示div-->
<div id="main_bg">
    <div id="main_show" class="left_show">
        <!--实验发现如果不加“../view”会出现问题-->
        <iframe id="main_show_iframe" src="../view/firstContext.html" width="100%"
                height="100%" frameborder="0"
                marginwidth="0" marginheight="0"
                scrolling="no">
        </iframe>
    </div>
</div>
<!--遮罩层和load-->
<div id="mask"></div>
<div id="preloader_4">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
</body>

<script type="text/javascript">
    $(function () {
        controlMask();

        $("title").text("欢迎使用");

        getUserType();
        setMenu();

        getUserName();
        setName();

    });

    //控制遮罩层
    function controlMask(num) {
        if (num === 1) {
            $("#mask").show();
            $("#preloader_4").show();
        } else {
            $("#mask").hide();
            $("#preloader_4").hide();
        }
    }

    // 注销
    function loginOut() {
        swal({
            title: '注销',
            text: '是否要退出登录？',
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: '是',
            cancelButtonText: '否',
        }).then(function (isConfirm) {
            if (isConfirm === true) {
                $.cookie('online_token', null, {path: "/"});
                $.post("/Login/exeLoginOut.do", {token: token}, function () {
                    if (user_type === "system_type") {
                        location.href = localhostPath + "/view/systemLogin.html";
                    } else {
                        location.href = localhostPath;
                    }
                });
            }
        });
    }

    //根据用户类型显示菜单
    function setMenu() {
        if (!user_type) {
            setTimeout("setMenu()", 1000);
            return;
        }
        switch (user_type) {
            case "Examinee":
                $(".ee_have").show();
                break;
            case "Examiner":
                $(".er_have").show();
                break;
            case "system_type":
                $(".nav-item").show();
                break;
            default :
                location.href = localhostPath;
        }
    }

    //显示用户名
    function setName() {
        if (!user_name) {
            setTimeout("setName()", 1000);
            return;
        }
        $("#top_info").find("span").append(user_name);
    }

    // 切换页面
    function changeView(path) {
        $("#main_show_iframe").attr("src", "../view/" + path);
    }
</script>
</html>
