body {
    overflow: hidden; /*隐藏滚动条,高度100%会出现*/
}

.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.left_menu_top {
    width: 2em;
    height: 2em;
    padding: .5em .5em .5em 1em;
}

#main_menu_top {
    width: 100%;
    height: 6%;
    background-color: #C5D5CB;
}

#main_menu_top_left {
    float: left;
}

#main_menu_top_left img {
    height: 42px;
    margin-left: 1em;
}

#main_menu_top_right {
    float: right;
    margin-right: 1em;
}

#main_show {
    margin-left: 220px;
    height: 94%;
}