<!--
  User: lzq11
  Date: 2018/5/7
  Time: 10:00
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>试卷查看</title>
    <script type="text/javascript" src="../../style/js/common/common-js-css.js"></script>
    <script type="text/javascript" src="../../style/js/examPaper/doWatch.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/css/htmlCss/doWatch.css"/>
</head>
<body>

<div id="paperDiv" class="layui-form">
    <!--标题和倒计时显示区域-->
    <div id="nameAndCountdown" style="height: 30px;">
        <div class="paperNameDiv">
            <span>考试试卷：</span>
            <span id="paperName"></span>
        </div>
        <div class="timeLeftDiv">
            <span>总分：</span>
            <span id="fullScore"></span>
            <span>得分：</span>
            <span id="getScore"></span>
        </div>
    </div>
    <hr>
    <!--试题展示部分-->
    <div id="qaShow"></div>
</div>


</body>
</html>