<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lycz.dao.BaseQuestionsMapper">
    <resultMap id="BaseResultMap" type="com.lycz.model.BaseQuestions">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="er_id" jdbcType="VARCHAR" property="erId"/>
        <result column="question_type" jdbcType="VARCHAR" property="questionType"/>
        <result column="question_desc" jdbcType="LONGVARCHAR" property="questionDesc"/>
        <result column="is_multi" jdbcType="VARCHAR" property="isMulti"/>
        <result column="is_bank" jdbcType="VARCHAR" property="isBank"/>
        <result column="options" jdbcType="LONGVARCHAR" property="options"/>
        <result column="answer" jdbcType="LONGVARCHAR" property="answer"/>
        <result column="subject" jdbcType="VARCHAR" property="subject"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
    </resultMap>

    <update id="batchModifyBQ">
        INSERT INTO base_questions(
        id,
        question_desc,
        is_multi,
        options,
        answer,
        subject,
        modify_time,
        status
        ) VALUES
        <foreach collection="bqList" item="item" separator=",">
            (
            #{item.id},
            #{item.questionDesc},
            #{item.isMulti},
            #{item.options},
            #{item.answer},
            #{item.subject},
            #{item.modifyTime},
            #{item.status}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        question_desc = VALUES(question_desc),
        is_multi = VALUES(is_multi),
        options = VALUES(options),
        answer = VALUES(answer),
        subject = VALUES(subject),
        modify_time = VALUES(modify_time),
        status = VALUES(status)
    </update>

    <insert id="batchInsertBQ">
        INSERT INTO base_questions(
        id,
        er_id,
        question_type,
        question_desc,
        is_multi,
        is_bank,
        options,
        answer,
        subject,
        create_time,
        modify_time,
        status
        ) VALUES
        <foreach collection="bqList" item="item" separator=",">
            (
            #{item.id},
            #{item.erId},
            #{item.questionType},
            #{item.questionDesc},
            #{item.isMulti},
            #{item.isBank},
            #{item.options},
            #{item.answer},
            #{item.subject},
            #{item.createTime},
            #{item.modifyTime},
            #{item.status}
            )
        </foreach>
    </insert>
</mapper>