<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lycz.dao.ErEeMapper">
  <resultMap id="BaseResultMap" type="com.lycz.model.ErEe">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="examiner_id" jdbcType="VARCHAR" property="examinerId" />
    <result column="examinee_id" jdbcType="VARCHAR" property="examineeId" />
    <result column="cur_status" jdbcType="VARCHAR" property="curStatus" />
    <result column="his_status" jdbcType="VARCHAR" property="hisStatus" />
    <result column="his_time" jdbcType="VARCHAR" property="hisTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
</mapper>