<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lycz.dao.ExamineeMapper">
  <resultMap id="BaseResultMap" type="com.lycz.model.Examinee">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="login_pwd" jdbcType="VARCHAR" property="loginPwd" />
    <result column="ee_no" jdbcType="VARCHAR" property="eeNo" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="reg_time" jdbcType="TIMESTAMP" property="regTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <select id="searchExamineeInfo" resultType="hashMap">
  SELECT
    real_name, ee_no,sex,phone,email,group_concat(gr.grade_name)
  FROM
    examinee ee
    LEFT JOIN ee_grade eg ON ee.id = eg.ee_id
    LEFT JOIN grade gr ON eg.grade_id = gr.id AND gr.status != '4'
  WHERE
    <if test=' examineeName != null and examineeName != "" '>
      ee.real_name LIKE CONCAT('%',#{examineeName},'%')
    </if>
     AND
    ee.ee_no LIKE CONCAT('%',#{examineeNum},'%') AND
    gr.id = #{searchClass}
  </select>
</mapper>