<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lycz.dao.GradeMapper">
    <resultMap id="BaseResultMap" type="com.lycz.model.Grade">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="er_id" jdbcType="VARCHAR" property="erId"/>
        <result column="grade_name" jdbcType="VARCHAR" property="gradeName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="sort_no" jdbcType="INTEGER" property="sortNo"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
    </resultMap>

    <select id="getGradeListByNameUser" resultType="hashMap">
        SELECT
            g.id AS id,
            g.grade_name AS gradeName,
            COUNT(eg.id) AS studentNum,
            UNIX_TIMESTAMP(g.create_time) AS createTime,
            g.sort_no AS sortNo,
            g.status AS status
        FROM
            grade g
        LEFT JOIN  ee_grade eg ON eg.grade_id = g.id
        WHERE
            g.er_id = #{userId}
        AND g.status != '4'
        <if test=' searchGradeName != null and searchGradeName != "" '>
            AND g.grade_name LIKE CONCAT("%",#{searchGradeName},"%")
        </if>
        GROUP BY g.id
        ORDER BY g.sort_no ASC ,g.modify_time DESC
    </select>

</mapper>