<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lycz.dao.PapersMapper">
    <resultMap id="BaseResultMap" type="com.lycz.model.Papers">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="examiner_id" jdbcType="VARCHAR" property="examinerId"/>
        <result column="papers_name" jdbcType="VARCHAR" property="papersName"/>
        <result column="exam_time" jdbcType="INTEGER" property="examTime"/>
        <result column="full_score" jdbcType="INTEGER" property="fullScore"/>
        <result column="default_correct_type" jdbcType="VARCHAR" property="defaultCorrectType"/>
        <result column="default_subject" jdbcType="VARCHAR" property="defaultSubject"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
    </resultMap>

    <select id="selectPapersByName" resultType="hashMap">
        SELECT
        p.id AS id,
        p.papers_name AS papersName,
        p.exam_time AS examTime,
        p.full_score AS fullScore,
        p.status AS status,
        (SELECT count(*) FROM score s WHERE p.id = s.paper_id) AS examNum
        FROM
        papers p
        <where>
            p.examiner_id = #{teachersId}
            AND p.status != '4'
            <if test=' papersName != null and papersName !="" '>
                and  p.papers_name LIKE CONCAT('%',#{papersName},'%')
            </if>
        </where>
    </select>
</mapper>