<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lycz.dao.PapersMapper">
    <resultMap id="BaseResultMap" type="com.lycz.model.Papers">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="examiner_id" jdbcType="VARCHAR" property="examinerId"/>
        <result column="papers_name" jdbcType="VARCHAR" property="papersName"/>
        <result column="exam_time" jdbcType="INTEGER" property="examTime"/>
        <result column="full_score" jdbcType="INTEGER" property="fullScore"/>
        <result column="default_correct_type" jdbcType="VARCHAR" property="defaultCorrectType"/>
        <result column="default_subject" jdbcType="VARCHAR" property="defaultSubject"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
    </resultMap>

    <select id="selectPapersByName" resultType="hashMap">
        SELECT
        p.id AS id,
        p.papers_name AS papersName,
        p.exam_time AS examTime,
        p.full_score AS fullScore,
        p.end_time AS endTime,
        p.status AS status,
        (SELECT count(*) FROM score s WHERE p.id = s.paper_id) AS examNum
        FROM
        papers p
        <where>
            p.status != '4'
            and p.examiner_id = #{teachersId}
            <if test=' papersName != null and papersName !="" '>
                and  p.papers_name LIKE CONCAT('%',#{papersName},'%')
            </if>
        </where>
    </select>

    <select id="selectPapersByErName" resultType="hashMap">
        SELECT
        p.id AS id,
        p.papers_name AS papersName,
        p.end_time AS endTime,
        v.user_name AS erName,
        p.exam_time AS examTime,
        p.full_score AS fullScore,
        s.answer,
        s.score,
        s.score_detail AS scoreDeatil,
        IF(s.answer IS NOT NULL
        OR TIMESTAMPDIFF(SECOND,s.blur_start_time,now()) > (p.exam_time * 60)
        OR TIMESTAMPDIFF(SECOND,p.end_time,now()) > 0, '是','否') AS hadExam
        FROM
        papers p
        LEFT JOIN score s ON p.id = s.paper_id AND s.ee_id = #{eeId}
        LEFT JOIN v_user v ON p.examiner_id = v.user_id
        <where>
            p.status = '2'
            AND p.examiner_id IN (
            SELECT re.examiner_id FROM er_ee re WHERE re.examinee_id = #{eeId}
            )
            <if test=' teachersId != null and teachersId !="" '>
                and p.examiner_id = #{teachersId}
            </if>
            <if test=' papersName != null and papersName !="" '>
                and  p.papers_name LIKE CONCAT('%',#{papersName},'%')
            </if>
        </where>
    </select>

</mapper>