<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lycz.dao.PaperQuestionMapper">
  <resultMap id="BaseResultMap" type="com.lycz.model.PaperQuestion">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="paper_id" jdbcType="VARCHAR" property="paperId" />
    <result column="question_id" jdbcType="VARCHAR" property="questionId" />
    <result column="question_no" jdbcType="TINYINT" property="questionNo" />
    <result column="question_type" jdbcType="VARCHAR" property="questionType" />
    <result column="score_type" jdbcType="VARCHAR" property="scoreType" />
    <result column="assign_score" jdbcType="INTEGER" property="assignScore" />
  </resultMap>
</mapper>