<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lycz.dao.SysLogMapper">
    <resultMap id="BaseResultMap" type="com.lycz.model.SysLog">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="log_title" jdbcType="VARCHAR" property="logTitle"/>
        <result column="log_level" jdbcType="VARCHAR" property="logLevel"/>
        <result column="log_user" jdbcType="VARCHAR" property="logUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="log_description" jdbcType="LONGVARCHAR" property="logDescription"/>
        <result column="module_name" jdbcType="VARCHAR" property="moduleName"/>
    </resultMap>
    
    <select id="getLogListBySearch" resultType="hashMap">
        SELECT
            id AS id,
            log_title AS logTitle,
            log_level AS logLevel,
            vu.userName AS logUser,
            UNIX_TIMESTAMP(create_time) AS createTime,
            log_description AS logDescription,
            module_name AS moduleName
        FROM sys_log sl
        LEFT JOIN v_user vu ON sl.log_user = vu.userId
        <where>
            <if test=' searchStartTime != null '>
                AND create_time <![CDATA[ >= ]]> #{searchStartTime}
            </if>
            <if test=' searchEndTime != null '>
                AND create_time <![CDATA[ <= ]]> #{searchEndTime}
            </if>
            <if test=' searchLevel != null and searchLevel != "" '>
                AND log_level = #{searchLevel}
            </if>
            <if test=' searchTitle != null and searchTitle != "" '>
                AND log_title LIKE CONCAT("%",#{searchTitle},"%")
            </if>
        </where>
        ORDER BY create_time DESC
    </select>
</mapper>